@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
}

:root {
    --fonte-principal: Arial, Verdana, Helvetica, Sans-Serif;
    --fonte-titulo-principal: 'Bebas Neue', sans-serif;
    --fonte-subtitulo: 'Android', sans-serif;

    --cor01: #A5E6C5;
    --cor02: #43E092;
    --cor03: #34AD71;
    --cor04: #1C5E41;
    --cor05: #2A4539;
}

body {
   background-color: var(--cor01);
   font-family: var(--fonte-principal);
}

header {
    background-image: linear-gradient(to bottom, var(--cor02), var(--cor03), var(--cor04));
    min-height: 140px;
    padding-top: 30px;
    text-align: center; 
    
}

header > h1 {
    font-family: var(--fonte-titulo-principal);
    font-weight: normal;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 0px #00000045;
    
}

header > p {
    font-family: var(--fonte-principal);
    color: white;
    padding-top: 15px;
    text-shadow: 2px 2px 0px #00000045;
    
}

nav {
    background-color: var(--cor04);
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
    
}

nav > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
    padding: 10px;
    border-radius: 4px;
    transition-duration: 0.5s;

}

nav > a:hover {
    background-color: var(--cor02);
    color: var(--cor05);
   
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 700px;
    margin: auto;
    padding: 10px 20px 30px 20px;
    box-shadow: 0px 0px 8px #00000054;
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    font-family: var(--fonte-subtitulo);
    font-size: 1.4em;
    font-weight: normal;
    color: var(--cor05);
    padding-top: 8px;
    
}

main h2 {
    background-image: linear-gradient(to right, var(--cor01), transparent) ;
    font-family: var(--fonte-subtitulo);
    font-size: 1.2em;
    font-weight: normal;
    color: var(--cor03);
    padding: 2px;
    text-indent: 8px;
}

main p {
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    padding-top: 8px;   

}

main strong {
    color:var(--cor03);
    font-weight: bolder;
    
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor04);
    background-color: var(--cor02);
    padding: 2px 4px;

}

a.external::after {
   content: '\00A0\1F517';
}

main a:hover {
    color: var(--cor05);
    text-decoration: underline;
}

img {
    width: 100%;
}

.pequena {
    max-width: 280px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor04);
    margin: 20px -20px 20px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 55%;
    
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 6.4%;
    width: 87%;
    height: 89.4%;
}

aside {
    background-color: var(--cor01);
    border-radius: 10px 10px;
    box-shadow: 2px 2px 8px #00000034;
    font-size: 0.9em;
    padding: 10px;
}

aside h3 {
    background-color: var(--cor03);
    color: white;
    font-size: 1.1em;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    text-indent: 3px;
    border-radius: 10px 10px 0px 0px;
}   

aside ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';     
    columns: 2;
    text-indent: 15px;

}

footer {
    background-color: var(--cor04);
    color: white;
    font-size: 0.7em;
    text-align: center;
    margin-top: 40px;
    padding: 5px;
    
}

footer a:hover {
    font-weight: bold;
    color: var(--cor02);
    text-decoration: underline;
}

footer a {
    color: white;
    text-decoration: none;
}