@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/IDroid.otf') format('opentype');
}
/*
    #9FDDAF
    #78D690
    #5CA36E
    #415C48
    #31573A
    #111F15
*/

:root{ /* VARIÃVEIS EM CSS */
    
    --cor0: #9FDDAF;
    --cor1: #78D690;
    --cor2: #4BC45F;
    --cor3: #378F45;
    --cor4: #104A1A;
    --cor5: #111F15;
    
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-titulo: 'Bebas Neue', sans-serif;
    --fonte-subtitulo: 'Android', sans-serif; 
}

*{
    margin: 0px;
    padding: 0px;
}


body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    
    
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    min-height: 130px;
    padding-top: 30px;
    text-align: center;
    
}

header > h1 {
    font-family: var(--fonte-titulo);
    font-size: 2.8em;
    color: white;
    font-weight: normal;
    margin-bottom: 19px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.288);
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1em;
    max-width: 600px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.288);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    
}

nav {
    background-color: var(--cor4);
    font-family: var(--fonte-padrao);
    padding: 10px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.226);
    
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition-duration: 0.5s;
}

nav a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}


main {
    background-color: white;
    min-width: 290px;
    max-width: 700px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;  
}


main h1 {
    font-family: var(--fonte-subtitulo);
    color: var(--cor4);
    font-weight: normal;
    font-size: 1.5em;
}

main h2 {
    font-family: var(--fonte-subtitulo);
    font-size: 1.2em;
    font-weight: normal;
    color: var(--cor3);
    background-image: linear-gradient(to right, var(--cor0), transparent);
    text-indent: 8px;
    
}

main p {
    margin: 15px 0px;
    text-align: justify;
    line-height: 2em;
    text-indent: 30px;

}

main strong {
    color: var(--cor3);
    font-weight: bolder;

}

main a {
    background-color: var(--cor0);
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 4px;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
    color:var(--cor3);
}

a.externo::after {
    content: '\00A0\1F517'

}

main img {
    width: 100%;

}

main img.pequena {
    max-width: 300px;
    margin: auto;
    display: block;
    
}

div.video {
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px; 
    padding: 20px;
    padding-bottom: 55%;
    position: relative;
    
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    padding: 10px;
    background-color: var(--cor0);
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.274);
    font-size: 0.9em;  
    
}

aside ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

aside h3 {
    color: white;
    background-color: var(--cor4);
    font-size: 1.1em;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-indent: 2px;   
}

footer{
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: var(--cor1);
    text-decoration: underline;
}
